[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx = "*"
sphinx-rtd-theme = "*"
black = "*"
rope = "*"
pylint = "*"
pylint-django = "*"
coveralls = "*"
coverage = "*"
pyyaml = "*"

[packages]
google-api-python-client = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
